.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
  width: 100%;
  height: 600px;
  padding: 30px 10px;
  border: 2px solid red;

  background-color: white;
  border-radius: 20px;
  z-index: 3;
}

.formList {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  float: left;
}
.formList div {
  margin-bottom: 30px;
}

.formElement {
  clear: both;
  text-align: right;
  line-height: 25px;
  height: 50px;
}

.formElement label {
  float: left;
  padding-right: 10px;
}

.formButtonAdd {
  border-radius: 30px;
  height: 50px;
  width: 120px;
  margin-right: 55px;
}
.formButtonCancel {
  border-radius: 30px;
  height: 50px;
  width: 120px;
}
.formButtonAdd:hover {
  cursor: pointer;
  background-color: green;
}
.formButtonCancel:hover {
  cursor: pointer;
  background-color: red;
}
